################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Vials/Client/bin
/Vials/Client/obj
/Vials/Server/bin
/Vials/Server/obj
/Vials.Shared.UnitTests/obj
/Vials.Shared.UnitTests/bin
/Vials.Core.UnitTests/obj
/Vials.Core.UnitTests/bin
/Vials/Shared/obj
/Vials/Shared/bin
/Vials.Core/bin
/Vials.Core/obj

