@inherits CodeBehind.Controls

<div>
    <button @onclick="New">New</button>
    <button @onclick="Undo" disabled="@(!CanUndo)">Undo</button>
    <button @onclick="Redo" disabled="@(!CanRedo)">Redo</button>
    <button @onclick="FindPath" disabled="@(!CanFindPath)">Find path</button>
    Game number : <input type="text" @onkeypress="KeyPressed" @bind-value="GameNumber" />
</div>