@inherits CodeBehind.VialView

<div class="vial" @onclick="HandleClick">
    <div class="vial-pad">
    </div>
    <div class="@topClass">
    </div>
    <div class="@thirdClass">
    </div>
    <div class="@secondClass">
    </div>
    <div class="@bottomClass">
    </div>
</div>