@inherits CodeBehind.VialSetView

@if (Set != null)
{
    <div class="marks">
        @foreach (var vial in Set.Vials)
        {
            if (vial.IsSelected)
            {
                <div class="indicator selected-indicator"></div>
            }
            else if (vial.IsOption)
            {
                <div class="indicator option-indicator"></div>
            }
            else
            {
                <div class="indicator"></div>
            }
        }
    </div>

    <div class="clear"></div>

    var i = 0;

    <div class="vial-set">
        @foreach (var vial in Set.Vials)
        {
            <VialView Vial="@vial" VialIndex="@i" ClickHandler="@(new VialClickedHandler(this, set, VialSetHandler, MoveWasMadeHandler))" />

            i++;
        }
    </div>
    <div class="clear"></div>
    if (set.IsComplete)
    {
        <div class="victory">You won !</div>
    }
}
