.vial {
    background: url("../images/emptyvial.png") no-repeat;
    height: 200px;
    width: 50px;
    display: grid;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.clear {
    clear:both;
}

.vial-selected {
    background-color: red;
}

.vial-set {
    margin-top: 20px;
    margin-bottom: 20px;
}

.vial-pad {
    position: relative;
    height: 35px;
    width: 50px;
}

.bottom-tier {
    position: relative;
    height: 45px;
    right: 10px;
    width: 50px;
}

.regular-tier {
    position: relative;
    height: 40px;
    right:10px;
    width: 50px;
}

.bottom-red {
    background: url("../images/redbottom.png") no-repeat;
}

.regular-red {
    background: url("../images/redpart.png") no-repeat;
}

.bottom-yellow {
    background: url("../images/yellowbottom.png") no-repeat;
}

.regular-yellow {
    background: url("../images/yellowpart.png") no-repeat;
}

.bottom-green {
    background: url("../images/greenbottom.png") no-repeat;
}

.regular-green {
    background: url("../images/greenpart.png") no-repeat;
}

.bottom-blue {
    background: url("../images/bluebottom.png") no-repeat;
}

.regular-blue {
    background: url("../images/bluepart.png") no-repeat;
}

.bottom-brown {
    background: url("../images/brownbottom.png") no-repeat;
}

.regular-brown {
    background: url("../images/brownpart.png") no-repeat;
}

.bottom-darkgreen {
    background: url("../images/darkgreenbottom.png") no-repeat;
}

.regular-darkgreen {
    background: url("../images/darkgreenpart.png") no-repeat;
}

.bottom-darkgrey {
    background: url("../images/darkgreybottom.png") no-repeat;
}

.regular-darkgrey {
    background: url("../images/darkgreypart.png") no-repeat;
}

.bottom-lightblue {
    background: url("../images/lightbluebottom.png") no-repeat;
}

.regular-lightblue {
    background: url("../images/lightbluepart.png") no-repeat;
}

.bottom-lightgreen {
    background: url("../images/lightgreenbottom.png") no-repeat;
}

.regular-lightgreen {
    background: url("../images/lightgreenpart.png") no-repeat;
}

.bottom-orange {
    background: url("../images/orangebottom.png") no-repeat;
}

.regular-orange {
    background: url("../images/orangepart.png") no-repeat;
}

.bottom-pink {
    background: url("../images/pinkbottom.png") no-repeat;
}

.regular-pink {
    background: url("../images/pinkpart.png") no-repeat;
}

.bottom-purple {
    background: url("../images/purplebottom.png") no-repeat;
}

.regular-purple {
    background: url("../images/purplepart.png") no-repeat;
}

.indicator {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width:30px;
    height:30px;
}

.selected-indicator {
    background: url("../images/selected.png") no-repeat;
}

.option-indicator {
    background: url("../images/option.png") no-repeat;
}

.victory {
    color: red;
}