@page "/default"
@inject HttpClient Http

<h3>Default</h3>

@code {
    //private Test test;
    //[Parameter]
    //public RenderFragment VialView;
    private VialView vialView;

    private VialSetView vialSetView;

    private VialSet set;

    //protected override Task OnAfterRenderAsync(bool firstRender)
    //{
    //    Console.WriteLine("Coucou, tu veux voir ma bite ?");



    //    return base.OnAfterRenderAsync(firstRender);
    //}
    //var i = 0;

    //System.Console.

    //Console.WriteLine("My debug output.");

    //[Parameter]
    //public RenderFragment Vial { get; set; }

    [Parameter]
    public RenderFragment Test { get; set; }

    void ClickHandler()
    {
        Console.WriteLine("Click");

        //test.Text = DateTime.Now.Ticks.ToString();
        //Vial.Value =

        //Console.WriteLine($"test.Text:'{test.Text}'");

        //vialView.SetVial(new Vial() { Colors = new Color[] { Color.Red, Color.Yellow, Color.Green, Color.Blue } });


        //if (vialView == null) Console.WriteLine("zizi");
    }

    protected override async Task OnInitializedAsync()
    {
        Http.DefaultRequestHeaders
          .Accept
          .Add(new System.Net.Http.Headers.MediaTypeWithQualityHeaderValue("application/json"));//ACCEPT header

        foreach (var h in Http.DefaultRequestHeaders)
        {

            foreach(var v in h.Value)
            {
                Console.WriteLine($"{h.Key}:{v}");
            }
        }

        set = await Http.GetFromJsonAsync<VialSet>("api/vial/new");
        //set = await Http.GetFromJsonAsync<VialSet>("pipi");
        vialSetView.Set = set;

        //var forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
    }
}

@functions {

}

<button @onclick="ClickHandler">clique salope !</button>

@*<VialView @ref="vialView" Vial=@(new Vial() { Colors = new Color[] { Color.Red, Color.Yellow, Color.Green, Color.Blue } }) />*@
<VialSetView @ref="vialSetView" />

@*<Test @ref="test" Text="pouet" />*@

@*<div class="vial">
        <div class="vial-pad">
        </div>
        <div class="top-empty">
        </div>
        <div class="third-empty">
        </div>
        <div class="second-empty">
        </div>
        <div class="bottom-empty">
        </div>
    </div>*@